<form class="form-signin">
  <div class="text-center mb-4">
    <a  class="navbar-brand align-top" 
    routerLink="/">
    <img [src]="DAIRMEX_LOGO"  alt="Dairmex">
     <h2>Control de Mantenimiento</h2>
    </a>

  </div>

  <div class="form-label-group">
    <input type="text" id="inputUser" class="form-control" placeholder="Usuario" required="" >
  </div>

  <div class="form-label-group">
    <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required="">
  </div>

  <button class="btn -btn-primary btn-block" routerLink="/dashboard" type="submit">Ingresar</button>
  <p class="mt-5 mb-3 text-muted text-center">© 2017-2019</p>

</form>
