
<nav class="[ navbar navbar-expand-md navbar-dark fixed-top ]">
    <div class="[ container ]">


        <div class="[ navbar-item ]" id="navbarCollapse">

          <a class="link-logo" href="/">
              <img  class="imageLogo" src="/assets/images/dairmex_logo.png"  alt="Dairmex">
          </a>
         
          <ul class="[ nav justify-content-end ]">
          
            <!-- datos usurio -->
            <li class="[ nav-item ]">
              <p class="textItem">Alejandra López peres</p>
              <figure class="content-image">
                <img class="imageItem" src="/assets/images/users/admin.png"  alt="Dairmex">
              </figure>
            </li>

            
            <li class="[ nav-item ]">
              <button class="btn">
                <i class="[ material-icons ] iconItem -color-white"> exit_to_app </i>  
              </button>
            </li>


          </ul>
        </div>
    </div>
  
</nav>