<app-header></app-header>

<section class="dashboard-item">
    <div class="container">
        <div class="card-deck mb-3 text-center">

          <app-generate-report></app-generate-report>
          
          <!-- card -->
          <div class="card mb-4 shadow-sm">
            <div class="card-header">
              <h3 class="my-0 font-weight-normal">Busqueda de Reportes </h3>
            </div>
            <div class="card-body">
                    <form action="generate-report">

                    <div class="form-label-group">
                        <input type="text" id="inputNameStore" class="form-control" placeholder="Nombre de Tienda" required="" >
                    </div>

                    <div class="form-label-group">
                            <input type="text" id="inputCity" class="form-control" placeholder="Ciudad" required="" >
                    </div>
    
                    <div class="form-label-group -icon">
                        <label for=""> <i class=" [ material-icons ] ">event_note</i></label>
                        <input type="text" id="inputNameStore" class="form-control" placeholder="Fecha" required="" >
                    </div>
                    

                    <button type="button" class="btn  btn-block -btn-disabled">Buscar</button>
                        
                </form>
                
                
   
            </div>
          </div>




        </div>

        <div *ngIf="reports.length" class="card-deck mb-3 text-center">
          
                <!-- card -->
                <div class="card mb-4 shadow-sm">
                  <div class="card-header">
                    <h3 class="my-0 font-weight-normal">Reportes Encontrados</h3>
                  </div>
                  <div class="card-body">
                        <div class="table-responsive">
                                <table class="table table-striped table-sm">
                                        <thead>
                                        <tr>
                                            <th>Nombre de Tienda</th>
                                            <th>Ciudad</th>
                                            <th>Fecha</th>
                                            <th>Estatus</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                        </thead>
             
                                    <tbody>
                                        <tr *ngFor="let report of reports">
                                            <td>{{report.nombre_de_tienda}}</td>
                                            <td>{{report.ciudad}}</td>
                                            <td>{{report.__ingreso | date:"dd/MM/yyyy"}}</td>
                                            <td>{{report.estatus}}</td>
                                            <td>
                                              <i (click)="editReport(report.id_reporte)"
                                                   class="[ material-icons ] iconItem -color-primary -small">
                                                visibility</i>
                                            </td>
                                            <td>
                                              <i (click)="deleteReport(report)"
                                                   class="[ material-icons ] iconItem -color-tertiary -small">
                                                delete</i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>    
                  </div>
                </div>
            </div>
      
    
      </div>


    </section>