@import '/../../scss/variables';
@import '/../../scss/mixins';
@import '/../../scss/rem';

// variables de módulo
$margin-top-body: 7rem;

.dashboard-item {
    margin-top: $margin-top-body;


    table {

        @media (max-width: rem(576px)) { 
            font-size: .85rem;
        }


        td {
            border: 0;
            padding: 1rem;
        }
        tbody {
            tr:nth-of-type(odd) {
                background: $iron;
            }

            .iconItem {
                cursor: pointer;
            } 
        }
    }
}