// colores
$primary-color: #282d36;
$secondary-color: #878e99;
$tertiary-color: #da5551;

$succes-color: #42b583;
$danger-color: #d37b4c;
$font-color: #151727;
$transparent: transparent;

$color-hover: #bf4845;
$gray-light: #cdcdcd;
$gray-medium: #e9ecef;
$gray-dark: #252525;
$iron: rgb(238, 238, 238);
$mischka: #CCCCD9;
$vulcan: #0a0b13;

$color-white: #fff;
$color-white-washed: rgba(255, 255, 255, 0.3);
$color-black: #000;

$facebook-color: #3b5998;
$twitter-color: #1da1f2;
$facebook-linked: #0077b5;

// transiciones
$transition-slow:  all .8s ease;
$transition-middle:  all .4s ease;
$transition-fast:  all .2s ease;

// tipografia
$font-title:  'Montserrat', sans-serif;
$font-body: 'Roboto', sans-serif;