@import '/../../../scss/variables';
@import '/../../../scss/mixins';
@import '/../../../scss/rem';

.section-imagesReport {
    padding: 4rem 0;

    @media (max-width: rem(576px)) {
        padding: 1.5rem 1rem;
    }
    .card {
        margin: 0;
    }
    .card-body {
        padding: 2rem 0;

        .subtitle-item {
            font-weight: bold;
            font-family: $font-title;
            margin: 3rem 0 1rem;
        }
    }
}
input {
    width: 320px;
    padding: .5rem;
    border: 0;
    text-align: center;

    @media (max-width: rem(576px)) {
        width: 200px; 
    }
}

.iconItem {
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    right: 2rem;
    top: 1rem;
    @media (max-width: rem(576px)) {
        right: .5rem;
    }
}